[Desktop Entry]
Type=Application
Name=pick
Comment=Pick is a colour picker
GenericName=Colour Picker
Icon=pick.png
Exec=pick-colour-picker
Terminal=false
Actions=AboutDialog;
Keywords=color;colour;picker

[Desktop Action AboutDialog]
Name=About Pick
Exec=pick-colour-picker --about
