Source: com.github.stuartlangridge.colourpicker
Section: misc
Priority: extra
Standards-Version: 3.9.3
Maintainer: Stuart Langridge <sil@kryogenix.org>
Build-Depends: python-all, python-setuptools, python-gi, python-pkg-resources, debhelper (>= 7)

Package: pick-colour-picker
Architecture: all
Section: misc
Priority: extra
Depends: ${python:Depends}, ${misc:Depends}, python-cairo, python-gi-cairo
Description: A colour picker that remembers where you picked colours from
 Pick lets you pick colours from anywhere on your screen. Choose the
 colour you want and Pick remembers it, names it, and shows you a
 screenshot so you can remember where you got it from. Zoom all the way
 in to pixels to pick just the right one. Show your colours in your
 choice of format: rgba() or hex, CSS or Gdk or Qt, whichever you prefer.
 Copy to the clipboard ready for pasting into code or graphics apps.
